<div data-ng-include src="'views/includes/connection.html'"></div>
<section>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="page-header">
                <h1 translate>Data Visualization</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <tabset>
                <tab heading="Chain Status" href="#chain">
                    <div data-ng-controller="ChainBasicInfoChartController" data-ng-init="fetchChartData()">
                        <div data-ng-include src="'views/charts/chain_basic_info.html'"></div>
                    </div>
                </tab>
                <tab heading="Blocks Status" href="#blocks">
                    <div data-ng-controller="BlockBasicInfoChartController" data-ng-init="fetchChartData()">
                        <div data-ng-include src="'views/charts/block_basic_info.html'"></div>
                    </div>
                </tab>
                <tab heading="Mining Status" href="#mining">
                    <div data-ng-controller="MiningBasicInfoChartController" data-ng-init="fetchChartData()">
                        <div data-ng-include src="'views/charts/mining_basic_info.html'"></div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</section>