<div data-ng-include src="'views/includes/connection.html'"></div>
<section>
  <!-- <div class="page-header">
    <h1 translate>Help section Te</h1>
  </div> -->
  <div class="row">
    <div class="col-xs-12 col-md-12">
        <h1 translate>Help</h1>
    </div>
  </div>

  <div id="help" class="row">
    <div class="col-xs-12 col-md-12">
        <h2 translate>API commands</h2>
        
        <table class="table" data-ng-controller="HelpController">
          <tbody>
  
            <tr data-ng-repeat="api in apis">
              <td translate>
                <b>{{api.title}}</b>
              </td>
              <td class="text-right ellipsis">
                <a href="{{api.url}}">{{api.urlText}}</a>
              </td>
            </tr>
          </tbody>
        </table>
  
        <h2 translate>Website Links</h2>
        <table class="table" style="table-layout: fixed" >
  
          <tbody>
            <tr>
              <td translate>Main Website Technology</td>
              <td class="text-right ellipsis"><a href="https://verus.io/technology">https://verus.io/technology</a></td>
            </tr>
            <tr>
              <td translate>Verus Wiki</td>
              <td class="text-right ellipsis"><a href="https://wiki.verus.io/#!index.md">https://wiki.verus.io/#!index.md</a></td>
            </tr>
          </tbody>
        </table>
  
        <h2 translate>Transaction information</h2>
        <table class="table" style="table-layout: fixed" >
  
          <tbody>
            <tr>
              <td translate>Reserve Transfer</td>
              <td class="text-right ellipsis">This transaction contacins a Verus currency transfer</td>
            </tr>
            <tr>
              <td translate>Cross Chain Export</td>
              <td class="text-right ellipsis">This transaction is a transfer to a Verus currency or PBAAS chain</td>
            </tr>
            <tr>
              <td translate>PBaaS Notarization</td>
              <td class="text-right ellipsis">This transaction is a notarisation across a chain to imute the chains together</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</section>
