<div class="col-md-12">
    <div class="row" data-ng-if="!tx.bindingSig && (!tx.vjoinsplit || tx.vjoinsplit.length==0)">
        <div class="col-md-12 transaction-vin-vout">
            <div class="ellipsis">
                <span translate>No Shielded Spends and Outputs </span>
            </div>
        </div>
    </div>
    <!-- <div class="row" data-ng-if="(tx.spendDescs && tx.spendDescs.length > 0) || (tx.outputDescs && tx.outputDescs.length > 0)"> -->
    <div class="row" data-ng-if="(tx.shieldedSpend.length > 0) || (tx.shieldedOutput.length > 0)">
        <div class="panel panel-default">
            <div class="panel-body transaction-vin-vout">
                <div class="col-md-3 col-xs-12">
                    <div data-ng-if="tx.valueBalance < 0">
                        <div class="pull-right btc-value">
                            {{$root.currency.getConvertion(-tx.valueBalance)}}
                        </div>
                        <div class="ellipsis">
                            <span>Public input</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-xs-12">
                    <div class="hidden-xs hidden-sm text-center">
                        <span class="glyphicon glyphicon-chevron-right text-muted"></span>
                    </div>
                    <div class="hidden-md hidden-lg text-center">
                        <span class="glyphicon glyphicon-chevron-down text-muted"></span>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="ellipsis text-center">
                        <span>Shielded Spends ({{tx.shieldedSpend.length}}) ⟹ Shielded Outputs
                            ({{tx.shieldedOutput.length}})</span>
                    </div>
                </div>
                <div class="col-md-1 col-xs-12">
                    <div class="hidden-xs hidden-sm text-center">
                        <span class="glyphicon glyphicon-chevron-right text-muted"></span>
                    </div>
                    <div class="hidden-md hidden-lg text-center">
                        <span class="glyphicon glyphicon-chevron-down text-muted"></span>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div data-ng-if="tx.valueBalance > 0">
                        <div class="pull-right btc-value">
                            {{$root.currency.getConvertion(tx.valueBalance)}}
                        </div>
                        <div class="ellipsis">
                            <span>Public output</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" data-ng-if="(!tx.vjoinsplit || tx.vjoinsplit.length == 0) && !tx.bindingSig">
        <div class="col-md-12 transaction-vin-vout">
            <div class="ellipsis">
                <span translate>No JoinSplits </span>
            </div>
        </div>
    </div>


    <div class="row" data-ng-if="tx.vjoinsplit && tx.vjoinsplit.length != 0">

        <!-- <<< Simple view -->
        <div data-ng-if="!itemsExpanded" data-ng-init="currentJSNoExpanded=0; sizeJSNoExpanded=5">
            <div class="panel panel-default"
                data-ng-repeat="vjs in tx.vjoinsplit| startFrom:currentJSNoExpanded*sizeJSNoExpanded | limitTo:sizeJSNoExpanded">
                <div class="panel-body transaction-vin-vout">
                    <div class="col-md-3 col-xs-12">
                        <div class="pull-right btc-value">
                            {{$root.currency.getConvertion(vjs.vpub_old)}}
                        </div>
                        <div class="ellipsis">
                            <span>Public input</span>
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-12">
                        <div class="hidden-xs hidden-sm text-center">
                            <span class="glyphicon glyphicon-chevron-right text-muted"></span>
                        </div>
                        <div class="hidden-md hidden-lg text-center">
                            <span class="glyphicon glyphicon-chevron-down text-muted"></span>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="ellipsis text-center">
                            <span>JoinSplit [{{vjs.n}}]</span>
                        </div>
                    </div>
                    <div class="col-md-1 col-xs-12">
                        <div class="hidden-xs hidden-sm text-center">
                            <span class="glyphicon glyphicon-chevron-right text-muted"></span>
                        </div>
                        <div class="hidden-md hidden-lg text-center">
                            <span class="glyphicon glyphicon-chevron-down text-muted"></span>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <div class="pull-right btc-value">
                            {{$root.currency.getConvertion(vjs.vpub_new)}}
                        </div>
                        <div class="ellipsis">
                            <span>Public output</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="showmore_collapse text-left" data-ng-show="tx.vjoinsplit.length > 5"
                data-ng-class="{ 'hidden': itemsExpanded}">
                <button type="button" class="btn btn-info btn-sm" ng-hide="sizeJSNoExpanded != tx.vjoinsplit.length"
                    ng-click="currentJSNoExpanded=0; sizeJSNoExpanded=5">
                    <i class="glyphicon glyphicon-chevron-up"></i>
                    <span translate>Show less</span></button>
                <button type="button" class="btn btn-info btn-sm"
                    ng-hide="currentJSNoExpanded >= tx.vjoinsplit.length/sizeJSNoExpanded - 1"
                    ng-click="currentJSNoExpanded=0; sizeJSNoExpanded=tx.vjoinsplit.length">
                    <i class="glyphicon glyphicon-chevron-down"></i>
                    <span translate>Show more</span></button>
            </div>
        </div>

        <!-- <<< Full view -->
        <div data-ng-if="itemsExpanded"
            data-ng-init="currentJSExpanded=0; sizeJSExpanded=(from_vjs) ? tx.vjoinsplit.length : 5; fromVjsCollapsed=(from_vjs)">
            <div data-ng-repeat="vjs in tx.vjoinsplit| startFrom:currentJSExpanded*sizeJSExpanded | limitTo:sizeJSExpanded"
                data-ng-if="fromVjsCollapsed ? v_index == vjs.n : 1">
                <div class="panel panel-default transaction-vin-vout">
                    <div class="panel-body">
                        <div class="col-md-3 col-xs-12">
                            <div class="pull-right btc-value">
                                {{$root.currency.getConvertion(vjs.vpub_old)}}
                            </div>
                            <div class="ellipsis">
                                <span translate>Public input</span>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-12">
                            <div class="hidden-xs hidden-sm text-center">
                                <span class="glyphicon glyphicon-chevron-right text-muted"></span>
                            </div>
                            <div class="hidden-md hidden-lg text-center">
                                <span class="glyphicon glyphicon-chevron-down text-muted"></span>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="ellipsis text-center">
                                <span>JoinSplit [{{vjs.n}}]</span>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-12">
                            <div class="hidden-xs hidden-sm text-center">
                                <span class="glyphicon glyphicon-chevron-right text-muted"></span>
                            </div>
                            <div class="hidden-md hidden-lg text-center">
                                <span class="glyphicon glyphicon-chevron-down text-muted"></span>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <div class="pull-right btc-value">
                                {{$root.currency.getConvertion(vjs.vpub_new)}}
                            </div>
                            <div class="ellipsis">
                                <span translate>Public output</span>
                            </div>
                        </div>
                    </div> <!-- END OF PANEL BODY -->
                </div> <!-- END OF PANEL-DEFAULT -->
            </div>
            <div class="text-left">
                <button type="button" class="btn btn-default btn-sm"
                    data-ng-show="(from_vjs) && tx.vjoinsplit.length > 1" data-ng-disabled="fromVjsCollapsed"
                    data-ng-click="currentJSExpanded=0; sizeJSExpanded=tx.vjoinsplit.length;fromVjsCollapsed=1">
                    <span translate>Show input</span> #{{ v_index }}</button>
                <button type="button" class="btn btn-default btn-sm"
                    data-ng-show="(from_vjs) && tx.vjoinsplit.length > 1" data-ng-disabled="!fromVinCollapsed"
                    data-ng-click="currentJSExpanded=0; sizeJSExpanded=tx.vjoinsplit.length;fromVjsCollapsed=0">
                    <span translate>Show all</span></button>
            </div>
            <div class="showmore_collapse text-left" data-ng-show="tx.vjoinsplit.length > 5 && !fromVjsCollapsed"
                data-ng-class="{ 'hidden': !itemsExpanded}">
                <button type="button" class="btn btn-info btn-sm" ng-hide="sizeJSExpanded != tx.vjoinsplit.length"
                    ng-click="currentJSExpanded=0; sizeJSExpanded=5"><i class="glyphicon glyphicon-chevron-up"></i>
                    <span translate>Show less</span></button>
                <button type="button" class="btn btn-info btn-sm"
                    ng-hide="currentJSExpanded >= tx.vjoinsplit.length/sizeJSExpanded - 1"
                    ng-click="currentJSExpanded=0; sizeJSExpanded=tx.vjoinsplit.length">
                    <i class="glyphicon glyphicon-chevron-down"></i>
                    <span translate>Show more</span></button>
            </div>
        </div>

    </div>
</div>