<div class="row" data-ng-if="tx.vout.length == 0">
    <div class="col-md-12 transaction-vin-vout">
        <div class="ellipsis">
            <h1>🛡</h1>
            <div translate>No Outputs</div>
        </div>
    </div>
</div>
<div class="row" data-ng-if="tx.vout.length != 0">

    <!-- Simple view [VOUT] -->
    <div data-ng-if="!itemsExpanded" data-ng-init="currentOutNoExpanded=0; sizeOutNoExpanded=5">
        <div
            data-ng-repeat="vout in tx.vout| startFrom:currentOutNoExpanded*sizeOutNoExpanded | limitTo:sizeOutNoExpanded">
            <div class="transaction-vin-vout panel panel-default">
                <div class="panel-body">
                    <div class="pull-right btc-value"
                        data-ng-class="{'text-success': $root.currentAddr == vout.uiWalletAddress}">
                        <span data-ng-show="!vout.isMainTxAddressValueZero"> {{$root.currency.getConvertion(vout.value)}}</span>
                        <span data-ng-show="vout.isMainTxAddressValueZero" class="badge">{{vout.othercommitment}}</span>
                        <span data-ng-show="vout.isTxWithFeePoolOrStakeGuard">
                            <span>{{$root.currency.getConvertion(vout.feePool)}}</span>
                        </span>
                        
                        <a href="/tx/{{vout.isSpent}}">
                            <span class="text-danger" data-ng-show="vout.isSpent" tooltip="Output is spent"
                                tooltip-placement="left">(S)</span>
                        </a>
                        <span class="text-success" data-ng-show="!vout.isSpent" tooltip="Output is unspent"
                            tooltip-placement="left">(U)</span>
                    </div>

                    <div class="ellipsis">
                        <span data-ng-show="vout.notAddr">{{vout.uiWalletAddress}}</span>
                        <span class="text-muted" title="Current Verus Address"
                            data-ng-show="address == $root.currentAddr"
                            data-ng-repeat="address in vout.uiWalletAddress.split(',')">{{vout.uiWalletAddress}}</span>

                        <!-- data-ng-repeat="address in vout.uiWalletAddress.split(',')">{{address}}</a> -->
                        <span data-ng-repeat="address in vout.uiWalletAddress.split(',')">
                            <a href="address/{{address}}"
                                data-ng-show="address != $root.currentAddr && address != '-1'">{{address}}</a>
                            <span class="text-muted util-nav-label"
                                data-ng-show="address != $root.currentAddr && address == '-1'"> [P2SH]❓︎ {{vout.pay2ScriptHashAddress}}
                            </span>
                        </span>
                    </div>
                </div>
                <!-- pbaas >>> -->
                <!-- <div data-ng-if="vout.pbaas"> -->
                <div data-ng-if="vout.isPbaasCurrencyExist">
                    <!-- <div data-ng-repeat="(key, vout_currency) in vout.script_reserve_balance"> -->
                    <div data-ng-repeat="currencyBalancePair in vout.pbaasCurrencies">
                        <div class="panel-body">
                            <div class="pull-right btc-value"
                                data-ng-class="{'text-success': $root.currentAddr == vout.addr}">
                                <!-- {{vout_currency}} {{key}} -->
                                {{currencyBalancePair}}
                                <a href="/tx/{{vout.isSpent}}">
                                    <span class="text-danger" data-ng-show="vout.isSpent" tooltip="Output is spent"
                                        tooltip-placement="left">(S)</span>
                                </a>
                                <span class="text-success" data-ng-show="!vout.isSpent" tooltip="Output is unspent"
                                    tooltip-placement="left">(U)</span>
                            </div>
                            <div class="ellipsis">
                                <span class="text-muted" title="Current Verus Address"
                                    data-ng-show="address == $root.currentAddr"
                                    data-ng-repeat="address in vout.addr.split(',')">{{vout.addr}}</span>
                                <a href="address/{{address}}"
                                    data-ng-show="!vout.notAddr && address != $root.currentAddr"
                                    data-ng-repeat="address in vout.addr.split(',')">{{vout.address_pbaas[1]}}</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- identities >>> -->
                <div data-ng-if="vout.scriptPubKey.identityprimary">
                    <div class="panel-body">
                        <div class="pull-right btc-value"
                            data-ng-class="{'text-success': $root.currentAddr == vout.multipleAddress}">
                            <!-- Identity Created -->
                            <span class="badge">{{vout.identityTxTypeLabel}}</span>
                            <a href="/tx/{{vout.isSpent}}">
                                <span class="text-danger" data-ng-show="vout.isSpent" tooltip="Output is spent"
                                    tooltip-placement="left">(S)</span>
                            </a>
                            <span class="text-success" data-ng-show="!vout.isSpent" tooltip="Output is unspent"
                                tooltip-placement="left">(U)</span>
                        </div>
                        <div class="ellipsis">
                            <!-- <span data-ng-show="vout.notAddr">{{vout.scriptPubKey.identityprimary.primaryaddresses[0]}}</span> -->
                            <!-- <span class="text-muted" title="Current Verus Address" data-ng-show="address == $root.currentAddr" data-ng-repeat="address in vout.multipleAddress.split(',') track by $index">
                {{vout.scriptPubKey.identityprimary.name}}
               </span> -->
                            <!-- <a href="address/{{address}}"  data-ng-show="!vout.notAddr && address != $root.currentAddr" data-ng-repeat="address in vout.multipleAddress.split(',')"> -->
                            <a href="address/{{vout.uiWalletAddress}}">
                                {{vout.scriptPubKey.identityprimary.name}}@
                            </a>
                        </div>
                    </div>

                </div>

                <!-- Launch currencies >>> -->
                <div data-ng-if="vout.currencydefinition">

                    <div class="panel-body">
                        <div class="pull-right btc-value"
                            data-ng-class="{'text-success': $root.currentAddr == vout.addr}">
                            Currency Defined
                            <a href="/tx/{{vout.isSpent}}">
                                <span class="text-danger" data-ng-show="vout.isSpent" tooltip="Output is spent"
                                    tooltip-placement="left">(S)</span>
                            </a>
                            <span class="text-success" data-ng-show="!vout.isSpent" tooltip="Output is unspent"
                                tooltip-placement="left">(U)</span>
                        </div>
                        <div class="ellipsis">
                            <span data-ng-show="vout.notAddr">{{vout.currencydefinition.name}}</span>
                            <span class="text-muted" title="Current Verus Address"
                                data-ng-show="address == $root.currentAddr"
                                data-ng-repeat="address in vout.addr.split(',')">{{vout.currencydefinition.name}}</span>
                            <a href="address/{{address}}" data-ng-show="!vout.notAddr && address != $root.currentAddr"
                                data-ng-repeat="address in vout.addr.split(',')">{{vout.currencydefinition.name}}</a>
                        </div>
                    </div>

                </div>

                <!-- crosschainimport / crosschainexport / finalizeNotarization / reservetransfer >>> -->
                <div data-ng-if="vout.othercommitment && !vout.isMainTxAddressValueZero">
                    <div class="panel-body">
                        <div class="pull-right btc-value"
                            data-ng-class="{'text-success': $root.currentAddr == vout.addr}">
                            <span class="badge">{{vout.othercommitment}}</span>
                            <a href="/tx/{{vout.isSpent}}">
                                <span class="text-danger" data-ng-show="vout.isSpent" tooltip="Output is spent"
                                    tooltip-placement="left">(S)
                                </span>
                            </a>
                            <span class="text-success" data-ng-show="!vout.isSpent" tooltip="Output is unspent"
                                tooltip-placement="left">(U)</span>
                        </div>
                        <div class="ellipsis">
                            <!-- Add the address on the left of the commitment if vout value is zero -->
                            <!-- <a href="address/{{vout.uiWalletAddress}}"
                                data-ng-show="vout.isMainTxAddressValueZero && vout.uiWalletAddress != $root.currentAddr">{{vout.uiWalletAddress}}</a>
                            <span class="text-muted" title="Current Verus Address"
                                data-ng-show="vout.isMainTxAddressValueZero && vout.uiWalletAddress == $root.currentAddr">{{vout.uiWalletAddress}}</span> -->
                            <!-- End address -->

                            <!-- <span data-ng-show="vout.notAddr"> -->
                            <!-- <span data-ng-show="vout.notAddr">
                                <span class="badge">{{vout.othercommitment}}</span>
                            </span> -->

                            <span class="text-muted" title="Current Verus Address"
                                data-ng-show="address == $root.currentAddr"
                                data-ng-repeat="address in vout.addr.split(',')">{{vout.currencydefinition.name}}</span>
                            <a href="address/{{address}}" data-ng-show="!vout.notAddr && address != $root.currentAddr"
                                data-ng-repeat="address in vout.addr.split(',')">{{vout.currencydefinition.name}}</a>
                        </div>
                    </div>
                </div>

                <!-- Crosschain import currency balance pair >>> -->
                <div data-ng-if="vout.crosschainImportCurrencyBalancePair[0] != undefined">
                    <div data-ng-repeat="pair in vout.crosschainImportCurrencyBalancePair">
                        <div class="panel-body">
                            <div class="ellipsis">
                                <span class="pull-right btc-value">{{pair.balance}} {{pair.currency}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Fee pool or stake guard >>> -->
                <div class="panel-body" data-ng-if="vout.isTxWithFeePoolOrStakeGuard">
                    <div class="ellipsis">
                        <span class="pull-right btc-value">
                            <span class="badge">💰 Fee Pool</span>
                        </span>
                    </div>
                </div>

            </div>
        </div>
        <div class="showmore_collapse text-left" data-ng-show="tx.vout.length > 5"
            data-ng-class="{ 'hidden': itemsExpanded}">
            <button type="button" class="btn btn-info btn-sm" ng-hide="sizeOutNoExpanded != tx.vout.length"
                ng-click="currentOutNoExpanded=0; sizeOutNoExpanded=5">
                ▲
                <span translate>Show less</span></button>
            <button type="button" class="btn btn-info btn-sm"
                ng-hide="currentOutNoExpanded >= tx.vout.length/sizeOutNoExpanded - 1"
                ng-click="currentOutNoExpanded=0; sizeOutNoExpanded=tx.vout.length">
                ▼
                <span translate>Show more ({{tx.vout.length - 5}})</span></button>
        </div>
    </div>

    <!-- Full view [VOUT] -->
    <div data-ng-if="itemsExpanded"
        data-ng-init="currentOutExpanded=0; sizeOutExpanded=(from_vout) ? tx.vout.length : 5; fromVoutCollapsed=(from_vout)">
        <div data-ng-repeat="vout in tx.vout| startFrom:currentOutExpanded*sizeOutExpanded | limitTo:sizeOutExpanded"
            data-ng-if="fromVoutCollapsed ? v_index == vout.n : 1">
            <div class="panel panel-default transaction-vin-vout">
                <div class="panel-body">
                    <div class="pull-right btc-value">
                        <span>
                            {{$root.currency.getConvertion(vout.value)}}
                            <span class="text-success" data-ng-show="!vout.spentTxId" tooltip="Output is unspent"
                                tooltip-placement="left">(U)</span>
                            <a class="glyphicon glyphicon-chevron-right" data-ng-show="vout.spentTxId"
                                href="tx/{{vout.spentTxId}}/</{{vout.spentIndex}}"
                                title="Spent at: {{vout.spentTxId}},{{vout.spentIndex}}"></a>
                        </span>
                    </div>
                    <div class="ellipsis">
                        <a href="address/{{address}}"
                            data-ng-repeat="address in vout.scriptPubKey.addresses">{{address}}</a>
                    </div>
                </div>
                <!-- pbaas >>> -->
                <div data-ng-repeat="(key, vout_currency) in vout.script_reserve_balance">
                    <div class="panel-body">
                        <div class="pull-right btc-value">
                            <span>{{vout_currency}} {{key}}
                                <span class="text-success" data-ng-show="!vout.spentTxId" tooltip="Output is unspent"
                                    tooltip-placement="left">(U)</span>
                                <a class="glyphicon glyphicon-chevron-right" data-ng-show="vout.spentTxId"
                                    href="tx/{{vout.spentTxId}}/</{{vout.spentIndex}}"
                                    title="Spent at: {{vout.spentTxId}},{{vout.spentIndex}}"></a>
                            </span>
                        </div>
                        <div class="ellipsis">
                            <a href="address/{{address}}" data-ng-repeat="address in vout.scriptPubKey.addresses">
                                {{address}}</a>
                        </div>
                    </div>

                </div>
            </div>
            <div style="padding-left: 0.7em; padding-bottom: 2em; word-wrap:break-word"
                data-ng-class="{true: 'v_highlight', false: ''}[from_vout == true && v_index == vout.n]">
                <p class="small">
                    <strong translate>Type</strong>
                    <span class="text-muted">{{vout.scriptPubKey.type}}</span>
                </p>
                <div class="small">
                    <p><strong>scriptPubKey</strong></p>
                    <span class="col-md-11 text-muted ellipsis">{{vout.scriptPubKey.asm}}</span>
                    <span class="btn-copy col-md-1" copy-to-clipboard="{{vout.scriptPubKey.asm}}"></span>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-default btn-sm" data-ng-show="(from_vout) && tx.vout.length > 1"
                data-ng-disabled="fromVoutCollapsed"
                data-ng-click="currentOutExpanded=0; sizeOutExpanded=tx.vout.length;fromVoutCollapsed=1">
                Show output #{{ v_index }}</button>
            <button type="button" class="btn btn-default btn-sm" data-ng-show="(from_vout) && tx.vout.length > 1"
                data-ng-disabled="!fromVoutCollapsed"
                data-ng-click="currentOutExpanded=0; sizeOutExpanded=tx.vout.length;fromVoutCollapsed=0">
                Show all
            </button>
        </div>
        <div class="showmore_collapse text-left" data-ng-show="tx.vout.length > 5 && !fromVoutCollapsed"
            data-ng-class="{ 'hidden': !itemsExpanded}">
            <button type="button" class="btn btn-info btn-sm" ng-hide="sizeOutExpanded != tx.vout.length"
                ng-click="currentOutExpanded=0; sizeOutExpanded=5">
                ▲
                Show less
            </button>
            <button type="button" class="btn btn-info btn-sm"
                ng-hide="currentOutExpanded >= tx.vout.length/sizeOutExpanded - 1"
                ng-click="currentOutExpanded=0; sizeOutExpanded=tx.vout.length">
                ▼
                Show more ({{tx.vout.length - 5}})
            </button>
        </div>
    </div>
</div>