<div class="row" data-ng-if="tx.vin.length == 0">
    <div class="col-md-12 transaction-vin-vout">
        <div class="ellipsis">
            <h1>🛡</h1>
            <div translate>No Inputs</div>
        </div>
    </div>
</div>
<!-- <div class="row" data-ng-if="tx.vin.length != 0 && tx.isCoinBase"> -->
<div class="row" data-ng-if="tx.isNewlyCreatedCoin">
    <div class="col-md-12 transaction-vin-vout" data-ng-repeat="vin in tx.vin">
        <div class="ellipsis">
            <div class="mined-coins-gif"></div>
            <div translate>No Inputs (Newly Generated Coins)</div>
        </div>
    </div>
</div>
<!-- <div class="row" data-ng-if="tx.vin.length != 0 && !tx.isCoinBase"> -->
<div class="row" data-ng-if="!tx.isNewlyCreatedCoin">

    <!-- Simple view [VIN] -->
    <div data-ng-if="!itemsExpanded" data-ng-init="currentInNoExpanded=0; sizeInNoExpanded=5">


        <!-- <div class="panel panel-default" data-ng-repeat="vin in tx.vinSimple| startFrom:currentInNoExpanded*sizeInNoExpanded | limitTo:sizeInNoExpanded"> -->
        <div class="panel panel-default"
            data-ng-repeat="vin in tx.vin| startFrom:currentInNoExpanded*sizeInNoExpanded | limitTo:sizeInNoExpanded">
            <div class="panel-body transaction-vin-vout">
                <!-- <div class="pull-right btc-value" data-ng-class="{'text-danger': $root.currentAddr == vin.addresses[0]}"> -->
                <div class="pull-right btc-value"
                    data-ng-class="{'text-danger': $root.currentAddr == vin.uiWalletAddress}">
                    {{$root.currency.getConvertion(vin.value)}}
                </div>
                <div class="ellipsis">
                    <!-- <span data-ng-show="vin.notAddr">{{vin.addr}}</span> -->
                    <!-- <span data-ng-show="vin.notAddr">{{vin.uiWalletAddress}}</span>
            <span class="text-muted" title="Current Verus Address" data-ng-show="vin.addr == $root.currentAddr">{{vin.uiWalletAddress}}</span>
            <a href="address/{{vin.uiWalletAddress}}" data-ng-show="!vin.notAddr && vin.addr != $root.currentAddr">{{vin.uiWalletAddress}}</a> -->
                    <a href="address/{{vin.uiWalletAddress}}">{{vin.uiWalletAddress}}</a>
                </div>
                <div data-ng-show="vin.unconfirmedInput" class="text-danger"> <span
                        class="glyphicon glyphicon-warning-sign"></span> (Input unconfirmed)</div>
                <div data-ng-show="vin.dbError" class="text-danger">
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    <span translate>Incoherence in levelDB detected:</span> {{vin.dbError}}
                </div>
                <div data-ng-show="vin.doubleSpentTxID" class="text-danger">
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    <span translate>Double spent attempt detected. From tx:</span>
                    <!-- <a href="tx/{{vin.doubleSpentTxID}}">{{vin.doubleSpentTxID}},{{vin.doubleSpentIndex}}</a> -->
                    <a href="tx/{{vin.doubleSpentTxID}}"> TODO </a>
                </div>
            </div>
        </div>
        <div class="showmore_collapse text-left" data-ng-show="tx.vin.length > 5"
            data-ng-class="{ 'hidden': itemsExpanded}">
            <button type="button" class="btn btn-info btn-sm" ng-hide="sizeInNoExpanded != tx.vin.length"
                ng-click="currentInNoExpanded=0; sizeInNoExpanded=5"><i class="glyphicon glyphicon-chevron-up"></i>
                <span translate>Show less</span></button>
            <button type="button" class="btn btn-info btn-sm"
                ng-hide="currentInNoExpanded >= tx.vin.length/sizeInNoExpanded - 1"
                ng-click="currentInNoExpanded=0; sizeInNoExpanded=tx.vin.length"><i
                    class="glyphicon glyphicon-chevron-down"></i>
                <span translate>Show more ({{tx.vin.length - 5}})</span></button>
        </div>


    </div>

    <!-- Full view [VIN] -->
    <div data-ng-if="itemsExpanded"
        data-ng-init="currentInExpanded=0; sizeInExpanded=(from_vin) ? tx.vin.length : 5; fromVinCollapsed=(from_vin)">
        <div data-ng-repeat="vin in tx.vin| startFrom:currentInExpanded*sizeInExpanded | limitTo:sizeInExpanded"
            data-ng-if="fromVinCollapsed ? v_index == vin.n : 1">
            <!-- <div data-ng-repeat="vin in tx.vin| startFrom:currentInExpanded*sizeInExpanded | limitTo:sizeInExpanded" data-ng-if="1 == 1"> -->
            <div class="panel panel-default transaction-vin-vout">
                <div class="panel-body">
                    <div class="pull-right btc-value">
                        {{$root.currency.getConvertion(vin.value)}}
                        <!-- {{vin.miniValue}} -->
                    </div>
                    <div class="ellipsis">
                        <a class="glyphicon glyphicon-chevron-right" href="tx/{{vin.txid}}/>/{{vin.vout}}"
                            title="Outpoint: {{vin.txid}},{{vin.vout}}"></a>
                        <!-- <span data-ng-show="vin.notAddr">{{vin.addr}}</span> -->
                        <!-- <a href="address/{{vin.addr}}" data-ng-show="!vin.notAddr">{{vin.addr}}</a> -->
                        <a href="address/{{vin.addr}}">{{vin.uiWalletAddress}}</a>
                    </div>
                    <div data-ng-show="vin.unconfirmedInput" class="text-danger">
                        <span class="glyphicon glyphicon-warning-sign"></span>
                        <span translate>(Input unconfirmed)</span>
                    </div>
                    <div data-ng-show="vin.dbError" class="text-danger">
                        <span class="glyphicon glyphicon-warning-sign"></span>
                        <span translate>Incoherence in levelDB detected:</span> {{vin.dbError}}
                    </div>
                    <div data-ng-show="vin.doubleSpentTxID" class="text-danger">
                        <span class="glyphicon glyphicon-warning-sign"></span>
                        <span translate>Double spent attempt detected. From tx:</span>
                        <a
                            href="tx/{{<vin class=""></vin>doubleSpentTxID}}">{{vin.doubleSpentTxID}},{{vin.doubleSpentIndex}}</a>
                    </div>
                </div> <!-- END OF PANEL BODY -->
            </div> <!-- END OF PANEL-DEFAULT -->
            <div class="small" style="margin-left:0.7em; word-wrap:break-word;"
                data-ng-class="{true: 'v_highlight', false: ''}[from_vin == true && v_index == vin.n]">
                <p><strong>Confirmations:</strong> {{vin.confirmations}}</p>
                <p><strong>scriptSig</strong></p>
                <div data-ng-repeat="item in vin.scriptSig.asm | split:' '" class="">
                    <p class="col-md-11 ellipsis text-muted">{{item}}</p>
                    <p class="btn-copy" clip-copy="item"></p>
                </div>
            </div>
        </div>
        <div class="text-left">
            <button type="button" class="btn btn-default btn-sm" data-ng-show="(from_vin) && tx.vin.length > 1"
                data-ng-disabled="fromVinCollapsed"
                data-ng-click="currentInExpanded=0; sizeInExpanded=tx.vin.length;fromVinCollapsed=1">
                <span translate>Show input</span> #{{ v_index }}</button>
            <button type="button" class="btn btn-default btn-sm" data-ng-show="(from_vin) && tx.vin.length > 1"
                data-ng-disabled="!fromVinCollapsed"
                data-ng-click="currentInExpanded=0; sizeInExpanded=tx.vin.length;fromVinCollapsed=0">
                <span translate>Show all</span></button>
        </div>
        <div class="showmore_collapse text-left" data-ng-show="tx.vin.length > 5 && !fromVinCollapsed"
            data-ng-class="{ 'hidden': !itemsExpanded}">
            <button type="button" class="btn btn-info btn-sm" ng-hide="sizeInExpanded != tx.vin.length"
                ng-click="currentInExpanded=0; sizeInExpanded=5"><i class="glyphicon glyphicon-chevron-up"></i>
                <span translate>Show less</span></button>
            <button type="button" class="btn btn-info btn-sm"
                ng-hide="currentInExpanded >= tx.vin.length/sizeInExpanded - 1"
                ng-click="currentInExpanded=0; sizeInExpanded=tx.vin.length"><i
                    class="glyphicon glyphicon-chevron-down"></i>
                <span translate>Show more ({{tx.vin.length - 5}})</span></button>
        </div>
    </div>
</div>