<h2>Blocks Status
    <small> ( Last {{selectedLabel}} ) </small>
    
    <span class="badge" data-ng-if="loading" data-ng-click="cancelLoading()">
        <span class="glyphicon glyphicon-remove"></span> {{generationMessage}}
    </span>
    <span class="loader-gif" aria-hidden="true" data-ng-if="loading"></span>
</h2>

<div class="btn-group" role="group">
    <button type="button" class="btn btn-info animate-repeat"  data-ng-disabled="loading" data-ng-class="(rangeSelected == $index)? 'active':''" ng-repeat="range in rangeSelection" uib-btn-radio="'{{range.key}}'" ng-click="fetchChartData(range, $index)">
        {{range.label}}
    </button>
</div>

<!-- <div class="btn-group">
    <label class="btn btn-info" ng-model="radioModel" uib-btn-radio="'Left'">Left</label>
    <label class="btn btn-info" ng-model="radioModel" uib-btn-radio="'Middle'">Middle</label>
    <label class="btn btn-info" ng-model="radioModel" uib-btn-radio="'Right'">Right</label>
</div> -->
<div>

    <!-- <div class="panel panel-default">
        <div class="panel-heading">Panel heading without title</div>
        <div class="panel-body">
          Panel content
        </div>
    </div> -->

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>{{titleConsensus}}
                <button 
                    csv-download
                    class="btn btn-xs pull-right"
                    title="download consensus data"
                    data="dataConsensus"
                    content-title="labelsConsensus"
                    filename="'consensus_data'">
                    <span class="glyphicon glyphicon-download-alt"></span> CSV
                </button>
            </h4>
        </div>
        <div class="panel-body">
            <canvas class="chart chart-pie" chart-data="dataConsensusPie" chart-labels="labelsConsensusPie" chart-options="options"></canvas>
            <h4><center>Distribution</center></h4> 
            <canvas class="chart-bar" chart-data="dataConsensus" chart-colors="colorsConsensus" chart-labels="labelsConsensus" chart-series="seriesConsensus" chart-options="optionsConsensus" height="80"></canvas>
        </div>
    </div>

    <!-- <a class="btn" href="#" csv-download data="dataConsensus" title="labelsConsensus" filename="'consensus_data'"><i class="icon-file"></i></a> -->

    <!-- <canvas id="bar" class="chart-horizontal-bar" chart-data="dataConsensus" chart-labels="labelsConsensus" chart-series="seriesConsensus" chart-options="optionsConsensus"></canvas> -->
    

    <!-- <div style="text-align: center;">
        <table style="margin: 0 auto; height: 450px; border-width:0px" border="0">
            <tr>
                <td style="height: 100%;">
                    <button id="leftButton" clas="btn-info" style="height: 100%; width: 100%;">Left</button>
                </td>
                <td>
                    <canvas width="1000px;" height="450px" style="border: 1px solid black;" class="chart chart-bar" chart-data="dataMinedValue" chart-colors="colors" chart-labels="labelsMinedValue" chart-series="seriesMinedValue"></canvas>
                </td>
                <td style="height: 100%;">
                    <button id="rightButton" style="height: 100%; width: 100%;">Right</button>
                </td>
            </tr>
        </table>
    </div> -->



    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                {{titleTotalBlockVoutValue}}
                <button 
                    csv-download
                    data="[dataTotalBlockVoutValue]"
                    content-title="labelsTotalBlockVoutValue"
                    filename="'volume_per_block'"
                    title="download volume/block data"
                    class="btn btn-xs pull-right">
                    <span class="glyphicon glyphicon-download-alt"></span> CSV
                </button>
            </h4>
        </div>
        <div class="panel-body">
            <canvas
                class="chart chart-bar"
                chart-data="dataTotalBlockVoutValue"
                chart-colors="colors"
                chart-labels="labelsTotalBlockVoutValue"></canvas>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                {{titleMinedValue}}
                <button 
                    csv-download
                    data="[dataMinedValue]"
                    content-title="labelsMinedValue"
                    filename="'mining_reward_per_block'"
                    title="download mining reward per block data"
                    class="btn btn-xs pull-right">
                    <span class="glyphicon glyphicon-download-alt"></span> CSV
                </button>
            </h4>
        </div>
        <div class="panel-body">
            <canvas
                class="chart chart-bar"
                chart-data="dataMinedValue"
                chart-colors="colors"
                chart-labels="labelsMinedValue"
                chart-series="seriesMinedValue">
            </canvas>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                {{titleSize}}
                <button 
                    csv-download
                    data="[dataSize]"
                    content-title="labelsSize"
                    filename="'size_per_block'"
                    title="download size per block data"
                    class="btn btn-xs pull-right">
                    <span class="glyphicon glyphicon-download-alt"></span> CSV
                </button>
            </h4>
        </div>
        <div class="panel-body">
            <canvas
                class="chart chart-bar"
                chart-data="dataSize"
                chart-labels="labelsSize"
                chart-series="seriesSize"
                chart-colors="colors"
                chart-options="optionsBarBase">
            </canvas>    
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                {{titleBlockTime}}
                <button 
                    csv-download
                    data="[dataBlockTime]"
                    content-title="labelsBlockTime"
                    filename="'time_per_block'"
                    title="download time per block data"
                    class="btn btn-xs pull-right">
                    <span class="glyphicon glyphicon-download-alt"></span> CSV
                </button>
            </h4>
        </div>
        <div class="panel-body">
            <canvas class="chart chart-bar" chart-data="dataBlockTime" chart-labels="labelsBlockTime" chart-series="seriesBlockTime" chart-colors="colors" chart-options="optionsBarBase"></canvas>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                {{titleDiff}}
                <button 
                    csv-download
                    data="[dataDiff]"
                    content-title="labelsDiff"
                    filename="'diff_per_block'"
                    title="download diff per block data"
                    class="btn btn-xs pull-right">
                    <span class="glyphicon glyphicon-download-alt"></span> CSV
                </button>
            </h4>
        </div>
        <div class="panel-body">
            <canvas class="chart chart-bar" chart-data="dataDiff" chart-labels="labelsDiff" chart-series="seriesDiff" chart-colors="colors" chart-options="optionsBarBase"></canvas>
        </div>
    </div>
    

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                {{titleTxCount}}
                <button 
                    csv-download
                    data="[dataTxCount]"
                    content-title="labelsTxCount"
                    filename="'tx_count_per_block'"
                    title="download tx count per block data"
                    class="btn btn-xs pull-right">
                    <span class="glyphicon glyphicon-download-alt"></span> CSV
                </button>
            </h4>
        </div>
        <div class="panel-body">
            <canvas class="chart chart-bar" chart-data="dataTxCount" chart-labels="labelsTxCount" chart-colors="colors" chart-options="optionsBarBase"></canvas>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                {{titleTxFee}}
                <button 
                    csv-download
                    data="[dataTxFee]"
                    content-title="labelsTxFee"
                    filename="'tx_fee_per_block'"
                    title="download tx fee per block data"
                    class="btn btn-xs pull-right">
                    <span class="glyphicon glyphicon-download-alt"></span> CSV
                </button>
            </h4>
        </div>
        <div class="panel-body">
            <canvas class="chart chart-bar" chart-data="dataTxFee" chart-labels="labelsTxFee" chart-colors="colors" chart-series="seriesTxFee" chart-options="optionsTxFee"></canvas>
        </div>
    </div>
    

    <!-- <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels"></canvas> -->
    <!-- <canvas id="radar" class="chart chart-radar" chart-data="data" chart-options="options" chart-labels="labels"></canvas>  -->
    <!-- <canvas id="base" class="chart-bubble" chart-data="data" chart-series="series" ></canvas>  -->
    <!-- <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
    <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
    <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas> -->
</div>