<h2>Chain Information</h2>
<div class="btn-group">
    <label class="btn btn-info animate-repeat" ng-model="rangeSelected" ng-repeat="range in rangeSelection" uib-btn-radio="'{{range.key}}'" ng-click="fetchChartData(range)">
        {{range.label}}
    </label>
</div>

<!-- <div class="btn-group">
    <label class="btn btn-info" ng-model="radioModel" uib-btn-radio="'Left'">Left</label>
    <label class="btn btn-info" ng-model="radioModel" uib-btn-radio="'Middle'">Middle</label>
    <label class="btn btn-info" ng-model="radioModel" uib-btn-radio="'Right'">Right</label>
</div> -->
<div id="chart">
    <h3>{{title}}</h3>
    <!-- <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels"></canvas> -->
    <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-options="options" chart-series="series"></canvas>

    <!-- <canvas id="radar" class="chart chart-radar" chart-data="data" chart-options="options" chart-labels="labels"></canvas>  -->
    <!-- <canvas id="base" class="chart-bubble" chart-data="data" chart-series="series" ></canvas>  -->
    <!-- <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas> -->
    <h3>{{titleDiff}}</h3>
    <canvas id="line" class="chart chart-bar" chart-data="dataDiff" chart-colors="colors" chart-labels="labelsDiff" chart-series="seriesDiff"></canvas>
    <h3>{{titleMinedValue}}</h3>
    <canvas id="line" class="chart chart-bar" chart-data="dataMinedValue" chart-colors="colors" chart-labels="labelsMinedValue" chart-series="seriesMinedValue"></canvas>
</div>