<h2>Mining Status
    <small> ( {{selectedLabel}} ) </small>
    <span class="badge" data-ng-if="loading" data-ng-click="cancelLoading()">
        <span class="glyphicon glyphicon-remove"></span> {{generationMessage}}
    </span>
    <span class="loader-gif" aria-hidden="true" data-ng-if="loading"></span>
</h2>

<div class="row">
    <div class="col-xs-12 col-md-12">
        <h4>
            {{titleHashratePie}}
            <button 
                csv-download
                data="[dataHashratePie]"
                content-title="labelsHashratePie"
                filename="'mining_pools_hash'"
                title="download mining pools hash data"
                class="btn btn-xs pull-right">
                <span class="glyphicon glyphicon-download-alt"></span> CSV
            </button>
        </h4>
        <canvas class="chart chart-pie"
            chart-data="dataHashratePie"
            chart-labels="labelsHashratePie"
            chart-series="seriesHashratePie"
            chart-options="options">
        </canvas>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-12">
        <h4>Mining Pools</h4>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Hashrate</th>
                        <th>Miners</th>
                        <th>Min Pay</th>
                        <th>Fee</th>
                        <th>Website</th>
                        <!-- <th>Type</th> -->
                        <!-- <th>Country</th> -->
                    </tr>
                    <!-- <tr ng-repeat="pool in miningPoolData | orderBy:'-hashrate'"> -->
                    <tr ng-repeat="pool in miningPoolData">
                        <td>{{$index + 1}}</td>
                        <td>{{pool.poolId}}</td>
                        <td>{{(pool.hashrate / 1e9).toFixed(2)}} <b>GH</b></td>
                        <td>{{pool.miners < 1? 0 : pool.miners}}</td>
                        <td><span class="badge">{{pool.minpay}}</span></td>
                        <td><span class="badge">{{pool.fee}}</span></td>
                        <td>
                            <a href="{{pool.url}}">{{pool.url}}</a>
                            <h5>Country</h5>
                            <span class="badge" ng-repeat="item in pool.country.split(', ')">{{ item }}</span>
                            <h5>Type</h5>
                            <span class="badge badge-warning" ng-repeat="item in pool.feetype.split('|')">{{ item }}</span>
                        </td>
                        
                        <!-- <td>
                            <ul>
                                <li ng-repeat="item in pool.feetype.split('|')">{{ item }}</li>
                            </ul>
                        </td> -->
                        <!-- <td> -->
                            <!-- <ul> -->
                                <!-- <span class="badge" ng-repeat="item in pool.country.split(', ')">{{ item }}</span> -->
                            <!-- </ul> -->
                        <!-- </td> -->
                    </tr>
                </table>
            </div>
    </div>
</div>